In [1]:
import requests
import pandas as pd
import numpy as np
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
# nltk.download('stopwords')
# nltk.download('wordnet')

In [9]:
df = pd.read_csv("../data/competition.csv")
df.head()

Empty DataFrame
Columns: [Lang, Text, label]
Index: []

In [10]:
def twitter_scrape(keyword, count, cls):
    url = 'http://127.0.0.1:8000/tweets/'
    obj = {
        "keyword": keyword,
        "count": count
        }

    r = requests.post(url, json=obj)
    data = r.json()
    tweets = data['tweets']
    for tweet in tweets:
        temp = [tweet['lang'], tweet['full_text'], cls]
        df.loc[len(df.index)] = temp
    
    return len(df)

In [11]:
twitter_scrape("icici prudential", 500, "icici")
twitter_scrape("hdfc insurance", 500, "hdfc")
twitter_scrape("hdfc life insurance", 500, "hdfc")
twitter_scrape("icici insurance", 500, "icici")
twitter_scrape("sbi insurance", 500, "sbi")
twitter_scrape("sbi life insurance", 500, "sbi")
twitter_scrape("max life insurance", 500, "max")
twitter_scrape("max bupa health insurance", 500, "max")
twitter_scrape("axa xl insurance", 500, "xl")
twitter_scrape("tata aia", 500, "tata")
twitter_scrape("tata insurance", 500, "tata")
twitter_scrape("aia insurance", 500, "tata")

1033

In [12]:
df = df.sample(frac=1)
df.drop_duplicates(inplace=True)
df.reset_index(drop=True,inplace=True)
for i in range(len(df)):
    txt = re.sub('[^a-zA-Z]', ' ', df['Text'][i])
    txt = txt.lower()
    txt = txt.split()
    wl = WordNetLemmatizer()
    txt = [wl.lemmatize(word) for word in txt if not word in set(stopwords.words('english'))]
    txt = ' '.join(txt)
    df['Text'][i] = txt

new_df = df[df['Lang'] == 'en']
new_df.shape

(579, 3)

In [13]:
new_df.to_csv('../data/competition.csv', index=False)

In [14]:
new_df.head()

  Lang                                               Text  label
0   en  rt iciciprulife yorker doosra bouncer surya ku...  icici
1   en  rt cognizantnews cognizant tie max life insura...    max
2   en  hibah takaful sun life insurance wasiat faraid...   tata
3   en  niva bupa niva bupa finally rejected claim sur...    max
4   en  hdfc life insurance posted net profit r crore ...   hdfc