In [27]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
import pickle as pkl

In [28]:
data=pd.read_csv(r"../data/competition.csv")

In [29]:
data

    Lang                                               Text  label
0     en  rt iciciprulife yorker doosra bouncer surya ku...  icici
1     en  rt cognizantnews cognizant tie max life insura...    max
2     en  hibah takaful sun life insurance wasiat faraid...   tata
3     en  niva bupa niva bupa finally rejected claim sur...    max
4     en  hdfc life insurance posted net profit r crore ...   hdfc
..   ...                                                ...    ...
574   en  sbilife ashamed penalising year old man keepin...    sbi
575   en  singhumesh understand concern kindly note sbi ...    sbi
576   en  ammaradzim got similiar call person claimed pu...   tata
577   en  iciciprulife extremely dissatisfied service pr...  icici
578   en  rt singhumesh sbilife theofficialsbi thinking ...    sbi

[579 rows x 3 columns]

In [30]:
data["label"].value_counts()

label
tata     180
sbi      153
hdfc      82
icici     70
max       64
xl        30
Name: count, dtype: int64

In [31]:
data_tata=data[data["label"]=="tata"]
data_sbi=data[data["label"]=="sbi"]
data_hdfc=data[data["label"]=="hdfc"]
data_icici=data[data["label"]=="icici"]
data_max=data[data["label"]=="max"]
data_xl=data[data["label"]=="xl"]

In [32]:
def intent(s):
    s=[s]
    intent_model=pkl.load(open('../models/intent_classification.pkl','rb'))
    intent_tfidf=pkl.load(open('../models/intent_classification_tfidf.pkl','rb'))
    d=intent_model.predict(intent_tfidf.transform(s))
    if d[0][0]==1:
        return "enquiry"
    elif d[0][1]==1:
        return "general talk"
    else:
        return "complaint"

In [33]:
def insurance(s):
    insurance_model=pkl.load(open('../models/insurance-classification_model.pkl','rb'))
    insurance_tfidf=pkl.load(open('../models/insurance_classification_tfidf.pkl','rb'))
    d=insurance_model.predict(insurance_tfidf.transform([s]))
    if d[0][0]==1:
        return "home"
    elif d[0][1]==1:
        return "life"
    elif d[0][2]==1:
        return "motor"
    elif d[0][3]==1:
        return "travel"
    else:
        return "health"

In [34]:
def service(s):
    service_model=pkl.load(open('../models/service_model.pkl','rb'))
    service_tfidf=pkl.load(open('../models/service_model_tfidf.pkl','rb'))
    d=service_model.predict(service_tfidf.transform([s]))
    if d[0][0]==1:
        return "emi"
    elif d[0][1]==1:
        return "insurance"
    elif d[0][2]==1:
        return "investment"
    elif d[0][3]==1:
        return "loan"
    elif d[0][4]==1:
        return "savings"
    else:
        return "card"

In [35]:
def sentiment(s):
    sentiment_model=pkl.load(open('../models/sentiment_clf.pkl','rb'))
    sentiment_tfidf=pkl.load(open('../models/sentiment_tfidf.pkl','rb'))
    d=sentiment_model.predict(sentiment_tfidf.transform([s]))
    if d[0]==1:
        return "positive"
    else:
        return "negative"

In [36]:
data_tata["sentiment"]=data_tata["Text"].apply(lambda x: sentiment(x))
data_tata["intent"]=data_tata["Text"].apply(lambda x: intent(x))
data_tata["service"]=data_tata["Text"].apply(lambda x: service(x))