In [64]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import MultiLabelBinarizer
import re

In [65]:
df=pd.read_csv(r"C:\Users\shash\Downloads\loanData.csv")
df=df.drop(columns=["Lang"])

In [66]:
df['label'].value_counts()

home        244
personal    223
business     95
car          88
student      53
motor        31
Name: label, dtype: int64

In [67]:
multilabel=MultiLabelBinarizer()
y=multilabel.fit_transform(df['Text'])

In [68]:
one_hot_encoded_data = pd.get_dummies(df, columns = ['label'])

In [69]:
y=one_hot_encoded_data.drop(columns=["Text"])
y=y.drop(columns=["label_business","label_motor"])
y

     label_car  label_home  label_personal  label_student
0            0           1               0              0
1            0           0               1              0
2            0           0               1              0
3            0           0               0              1
4            0           1               0              0
..         ...         ...             ...            ...
729          0           1               0              0
730          0           1               0              0
731          0           1               0              0
732          0           0               0              0
733          0           0               1              0

[734 rows x 4 columns]

In [70]:
tfidf=TfidfVectorizer(analyzer='word',max_features=25,ngram_range=(1,3),stop_words='english')
x=tfidf.fit_transform(df['Text'])

In [71]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=3)
xtrain.shape,xtest.shape,ytrain.shape,ytest.shape
lr=LogisticRegression(solver='liblinear',penalty='l2')
from sklearn.multiclass import OneVsRestClassifier

In [72]:
clf=OneVsRestClassifier(lr)
clf.fit(xtrain,ytrain)

OneVsRestClassifier(estimator=LogisticRegression(solver='liblinear'))

In [79]:
from sklearn.metrics import accuracy_score

In [81]:
accuracy_score(ytest,clf.predict(xtest))

0.9319727891156463

In [82]:
import pickle as pkl
pkl.dump(clf,open('loan_model.pkl','wb'))
pkl.dump(tfidf,open('loan_model_tfidf.pkl','wb'))