In [14]:
import requests
import pandas as pd
import numpy as np
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
# nltk.download('stopwords')
# nltk.download('wordnet')

In [15]:
df = pd.read_csv("../data/twitterInsuranceData.csv")
df.head()

Empty DataFrame
Columns: [Lang, Text, Username, Name, Location, label]
Index: []

In [16]:
def twitter_scrape(keyword, count, cls):
    url = 'http://127.0.0.1:8000/tweets/'
    obj = {
        "keyword": keyword,
        "count": count
        }

    r = requests.post(url, json=obj)
    data = r.json()
    tweets = data['tweets']
    for tweet in tweets:
        temp = [tweet['lang'], tweet['full_text'], tweet['user']['screen_name'], tweet['user']['name'], tweet['user']['location'], cls]
        df.loc[len(df.index)] = temp
    
    return len(df)

In [17]:
twitter_scrape('motor insurance', 250, 'motor')
twitter_scrape('life insurance', 250, 'life')
twitter_scrape('home insurance', 250, 'home')
twitter_scrape('health insurance', 250, 'health')
twitter_scrape('travel insurance', 250, 'travel')
twitter_scrape('birth insurance', 100, 'life')
twitter_scrape('accident insurance', 100, 'motor')
twitter_scrape('death insurance', 100, 'life')
twitter_scrape('love traveling India', 100, 'travel')
twitter_scrape('mountains india', 100, 'travel')
twitter_scrape('india tourism', 100, 'travel')
twitter_scrape('medical emergency', 100, 'health')
twitter_scrape('hospital bills', 100, 'health')
twitter_scrape('health issues', 100, 'health')
twitter_scrape('suffering from terminal disease', 100, 'health')
twitter_scrape('earthquake damage', 50, 'home')
twitter_scrape('natural calamity', 50, 'home')
twitter_scrape('flood damage', 50, 'home')
twitter_scrape('landslide damage', 50, 'home')
twitter_scrape('house theft', 100, 'home')
twitter_scrape('car accident', 150, 'motor')
twitter_scrape('motorcycle accident', 150, 'motor')

1444

In [18]:
df = df.sample(frac=1)
df.drop_duplicates(inplace=True)
df.reset_index(drop=True,inplace=True)
for i in range(len(df)):
    txt = re.sub('[^a-zA-Z]', ' ', df['Text'][i])
    txt = txt.lower()
    txt = txt.split()
    wl = WordNetLemmatizer()
    txt = [wl.lemmatize(word) for word in txt if not word in set(stopwords.words('english'))]
    txt = ' '.join(txt)
    df['Text'][i] = txt

new_df = df[df['Lang'] == 'en']
new_df.shape

(1381, 6)

In [19]:
new_df.to_csv('../data/twitterInsuranceData.csv', index=False)

In [20]:
new_df.head()

,Lang,Text,Username,Name,Location,label
0,en,lionelwright never seen kenyan president going...,muema626,Jack the KING,Nairobi,health
1,en,rt lqlana due increased extreme volatile clima...,lafantome,fantome,Central Texas,home
2,en,rt obamamojang think dhalsim say yoga day day ...,AegisPancakes,Brandon ðŸ¦”,Destiny Islands,motor
4,en,birth control free insurance condom free insur...,bgmtiara,TheBossBran ðŸ©µ,"St Louis, MO",life
5,en,motoman mailbox property worth insurance car e...,Courtne08241586,ðŸ¦‹Blue AngelðŸ¦‹,,life